
#header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: orange;
}

#logo-img {
    height: 60px;
    width: 60px;
}

.rounded  {
    display: flex;
    max-width: 100%;
    height: 200px;
    width: 100vw;
    margin-bottom: 70px;
}


/* Row1 Container */
.row1-container {
    display: flex;
    height: 400px;
    border: 2px solid black;
    padding-left: 5%;
    padding-right: 5%;
}
s
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 20%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;

    background-repeat: no-repeat;
    margin-right: 2%;

}

.row1-content-2 {
    height: 398px;
    width: 35%;
    background-image: url(./images/images/hank-buck2.jpeg);
    background-size: 100%;
    margin-right: 2%;
}

.row1-content-3 {
    height: 398px;
    width: 35%;
    background-image: url(./images/images/customerservice.jpeg);
    background-repeat:  no-repeat;
    background-size: cover;
}

.row1-content-1 h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 40%;
    color: black;
    background-color: blanchedalmond;
    
}

.row1-content-1 h3 {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: blanchedalmond;
}