
#header-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #f60;
}

#logo-img {
    height: 60px;
    width: 60px;
}

.rounded  {
    display: flex;
    max-width: 100%;
    height: 200px;
    width: 100vw;
    margin-bottom: 70px;
}


/* Row1 Container */
.row1-container {
    display: flex;
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
}
.row1-content-1 {
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 20%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;
    background-repeat: no-repeat;
    margin-right: 2%;
    
}

.row1-content-2 {
    height: 398px;
    width: 35%;
    background-image: url(./images/images/hank-buck2.jpeg);
    background-size: 100%;
    margin-right: 2%;
}

.row1-content-3 {
    height: 398px;
    width: 35%;
    background-image: url(./images/images/customerservice.jpeg);
    background-repeat:  no-repeat;
    background-size: cover;
}

.row1-content-1 h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 40%;
    margin-left: 20px;
    color: white;
}

.row1-content-1 h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 20px;

}

/* Second Row */
.row2-container {
    display: flex;
    height: 400px;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;

}

.row2-content-1 {
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 40%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.row2-content-2 {
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 50%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;
    background-repeat: no-repeat;
    margin-right: 2%;
}

/* Third Row */
.row3-container {
    display: flex;
    height: 400px;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;

}

.row3-content-1 {
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 50%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.row3-content-2 {
    display: flex;
    flex-direction: column;
    height: 398px;
    width: 40%;
    background-image: url(./images/images/texas-img.JPG);
    background-size: 300%;
    background-repeat: no-repeat;
    margin-right: 2%;
}

/* Propane Accessories */
#propane-acc-container {
    flex-direction: row;
    border: 2px solid pink;
    height: 550px;
}

#propane-acc-header {
    background-color: rgb(250, 243, 231);
    height: 100px;
}


#propane-acc-header h1 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #f60;
}

.card-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.card {
    height: 350px;
}

.propane-acc-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 125px;

}

.propane-acc-footer button {
    height: 50px;
    margin: 10px;
}

/* Footer */
.footer-container {
    display: flex;
    border: 2px solid black;
    box-sizing: border-box;
    height: 500px;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-col1 {
    width: 20%;
    background-color: red;
}
.footer-col2 {
    width: 20%;
    background-color: yellow;
}
.footer-col3 {
    width: 30%;
    background-color: green;
}
.footer-col4 {
    width: 30%;
    background-color: blue;
}
